@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #121519;
	font-family: 'Tenor Sans', sans-serif;
}

main{
	background: #121519;
	font-family: 'Tenor Sans', sans-serif;
}


/*Inicio-Header*/
.headerPrincipal .container {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #121519;
	width: 100%;
}

.headerPrincipal-nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.headerPrincipal-titulo a, span{
	text-decoration: none;
	color: white;
	padding: 0px 5px;
}


h1{
	color: white;
	text-align: center;
	text-shadow: 1px 1px 2px black;
	margin: 10px 0px 10px 10px;
	border: 1px solid white;
	border-radius: 2.5rem;
	padding: 5px;
	font-size: 1.5rem;

}

.headerPrincipal-nav-link,span{
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 2px black;

}
.headerPrincipal-nav-link::after{
	content: '';
	width: 0%;
	height: 2px;
	background-color: white;
	display: block;
	transition: 0.1s ease-in-out;
}

.headerPrincipal-nav-link:hover::after{
	content: '';
	width: 100%;
	height: 2px;
	border-radius: 5px;
	background-color: #5abbcf;
	display: block;
}

/*Fin-Header*/


/*Informacion Personal*/

.infoPersonal{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Tenor Sans', sans-serif;
	background-color: #121519;
}

.infoGeneral{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.info{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	border-radius: 0.5rem;
	background-color: #121519;
	margin-top: 30px;
}	

.info h2{
	color:#5abbcf;
	text-align: center;
	letter-spacing: 10px;
	font-size: 2.5rem;
}


.info h3 {
	text-align: center;
	letter-spacing: 5px;
	color: #EBEFF2;
}
.redesSociales{
	display: flex;
	align-items: center;
	justify-content: center;

}

.redesSociales a {
	text-decoration: none;
	display: flex;
	margin-bottom: 20px;
}

.redesSociales-icon{
	width: 30px;
	height: 30px;
	margin: 0px 10px;
}

.perfile-image{
	margin-bottom: 5px;
	width: 250px;
	height: 240px;
	border-radius: 50%;
}

.sobreMi{
	margin-top: 10px;
	border-radius: 2.5rem;
	padding: 10px;
	width: 40%;
	background-color: #121519;
	color: #EBEFF2;
	border: 1px solid #5abbcf;
}

.sobreMi h3 {
	text-align: center;
	color: #5abbcf;
	letter-spacing: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.sobreMi p {
	text-align: justify;
	margin-bottom: 20px;

}
/*Fin Informacion Personal*/

/*Skills*/

.infoSkills{
	background-color: #EBEFF2;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.skills{
	display: flex;
	justify-content: center;
	align-items: center;
}

.infoSkills h2 {
	letter-spacing: 5px;
	font-size: 2.5rem;
	text-align: center;
	color: #121519;
}

.img-skills{
	width: 100%;
}

/*Fin Skills*/

/*Hobbies*/
.infoHobbies{
	background-color: #121519;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.infoHobbies h2 {
	letter-spacing: 5px;
	font-size: 2.5rem;
	text-align: center;
	color: #EBEFF2;
}

.hobbies{
	display: flex;
	justify-content: center;
	text-align: center;
}

.img-hobbies{

}

/*Fin Hobbies*/

/*Formacion*/
.infoFormacion{
	background-color: #EBEFF2;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.infoFormacion h2{
	letter-spacing: 5px;
	font-size: 2.5rem;
	text-align: center;
	color: #121519;
	margin-bottom: 20px;
}
.infoFormacion h3{
	text-align: center;
	color: #121519;
}

.formacion-uni,.formacion-cur{
	margin: 0 300px 20px 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
	border-radius: 5px;
	padding: 20px;

}

.formacion-uni a ,.formacion-cur a{
	text-decoration: none;
	color: #09203f;
	display: flex;
	align-items: center;
	font-size: 20px;
}

.formacion-icon{
	width: 125px;
	height: 70px;
	margin-right: 10px;
}
/*Fin Formacion*/

/*Proyectos*/
.infoProyectos{
	background-color: #121519;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.infoProyectos h2 {
	letter-spacing: 5px;
	font-size: 2.5rem;
	text-align: center;
	color: #EBEFF2;
	margin-bottom: 20px;
}

.proyectos{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 10px;
}

.proyecto{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.proyectos a {
	text-decoration: none;
	color: #EBEFF2;
	display: flex;
	align-items: center;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);

}
.proyectos h3{
	color: #EBEFF2;
	margin-bottom: 10px;
}

.proyectos-icon{
	width: 500px;
	height: 300px;
	border-radius: 0.5rem;
}
/*Fin Proyectos*/

/*Contacto*/

.infoContacto{
	background-color: #EBEFF2;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.infoContacto h2 {
	letter-spacing: 5px;
	font-size: 2.5rem;
	text-align: center;
	color: #121519;
	margin-bottom: 20px;
}

.contacto{
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
	background-color: #121519;
	border-radius: 5px;
}

.contacto form {

	display: flex;
	align-items: center;
	justify-content: left;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	border-radius: 5px;
}

.contacto .input {
	font-family: 'Tenor Sans', sans-serif;
	width: 450px;
	height: 50px;
	border-radius: 10px;
	font-size: 20px;
	padding-left: 15px;
	border: 1px solid #ffffff;
	
}
.contacto textarea{
	font-family: 'Tenor Sans', sans-serif;
	resize: none;
	width: 450px;
	height: 275px;
	border-radius: 10px;
	font-size: 20px;
	padding-top: 10px;
	padding-left: 15px;
}

.btn-enviar{
	width: 450px;
	height: 50px;
	border-radius: 5px;
	font-family: 'Tenor Sans', sans-serif;
	font-size: 20px;
	background-color: #121519;
	color: #EBEFF2;
	border: 1px solid #121519;
}

.btn-enviar:hover{
	cursor: pointer;
	border-color: #EBEFF2;

}

.mensaje{
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	flex-direction: column;
	position: absolute;
	width: 400px;
	height: 150px;
	background-color:#45b8fa ;
	border-radius: 5px;
	color: white;

}


.btn-mj{
	width: 100px;
	height: 50px;
	border-radius: 5px;
	font-family: 'Tenor Sans', sans-serif;
	font-size: 20px;
	background-color: #45b8fa;
	color: white;
	border: 1px solid black;
}

.btn-mj:hover{
	cursor: pointer;
	background-color:#83d0fc;

}
.hidden {
	display: none;
}
/*Fin Contacto*/
footer{
	width: 100%;
	padding: 10px;
	height: 200px;
	background-color: #2a2d36;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 20px;
}


/*Media queries*/
@media (max-width:  768px){
	.img-skills, .img-hobbies {
		width: 100vw;
	}
	.formacion-uni,.formacion-cur{
		width: 90%;
	}

}
@media (max-width: 375px){
	
	.headerPrincipal .container {
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: auto;
	}
	.headerPrincipal-nav{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		justify-content: center;
		gap: 5px;

	}
	h1{
		margin-left: 0;
		margin-bottom: 5px;
	}
	span{
		display: none;
	}
	.infoPersonal{
		height: auto;
	}


	.info{
		width: 350px;;
	}
	.sobreMi{
		width: 350px;
		margin-bottom: 10px;

	}
	.sobreMi p {
		margin: 20px 10px 50px 10px;

	}

	.img-skills, .img-hobbies {
		width: 100vw;
	}

	.infoProyectos{
		width: 100vw;
	}
	.infoProyectos{
		width: 100vw;
	}
	.formacion-uni,.formacion-cur{
		width: 90%;
	}
	.proyectos-icon{
		width: 80vw;
		height: 80%;
	}
	.contacto{
		width: 90%;
	}
 
	.contacto form {
		width: 100%;
	}

	.contacto textarea,.btn-enviar,.contacto .input{
		width: 80vw;
	}



}